<h1>Editar Evaluación {{evaluation.name}}</h1>
<p>Sección: {{evaluation.evaluation_type.course_section.course}} {{evaluation.evaluation_type.course_section.nrc}}</p>

<form action="{{url_for('evaluations.updateEvaluationView', evaluation_id=evaluation.id)}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{evaluation.name}}" required>
    <br>

    <label for="ponderation_type">Tipo de Ponderación:</label>
    <input type="text" id="ponderation_type" name="ponderation_type" value="{{evaluation.ponderation_type}}" required>
    <br>

    <label for="ponderation">Ponderación:</label>
    <input type="text" id="ponderation" name="ponderation" value="{{evaluation.ponderation}}" required>
    <br>

    <label for="optional">Obligatoria:</label>
    <input type="text" id="optional" name="optional" value="{{evaluation.optional}}" required>
    <br>

    <button type="submit">Actualizar Evaluación</button>
</form>