<h1>Editar Evaluación {{evaluation.name}}</h1>
<p>Sección: {{evaluation.evaluation_type.course_section.course}} {{evaluation.evaluation_type.course_section.nrc}}</p>

<form action="{{url_for('evaluations.updateEvaluationView', evaluation_id=evaluation.id)}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{evaluation.name}}" required>
    <br>

    <label for="ponderation">Ponderación:</label>
    <input type="number" id="ponderation" name="ponderation" value="{{evaluation.ponderation}}" required>
    <br>

    <label for="optional">Obligatoria:</label>
    <input type="checkbox" id="optional" name="optional" {% if evaluation.optional %}checked{% endif %}>
    <br>

    <button type="submit">Actualizar Evaluación</button>
</form>