<h1>Crear Seccion para el curso {{course.name}}</h1>

<form action="{{url_for('course_sections.createSectionView', course_id=course.id)}}" method="POST">
    <label for="nrc">NRC:</label>
    <input type="text" id="nrc" name="nrc" required>
    <br>

    <label for="semester">Semestre:</label>
    <input type="text" id="semester" name="semester" required>
    <br>

    <label for="teacher_id">Profesor:</label>
    <select name="teacher_id" id="teacher_id" required>
        {% for teacher in teachers %}
            <option value="{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</option>
        {% endfor %} 
    </select>
    <br>

    <button type="submit">Crear Sección</button>
</form>