<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Sección para el curso {{ course_instance.course.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">

    <h1>Crear Sección para el curso {{course_instance.course.name}} {{course_instance.year}}-{{course_instance.semester}}</h1>

    <form action="{{url_for('course_sections.create_section_view', course_instance_id=course_instance.id)}}" method="POST">
        <label for="nrc">NRC:</label>
        <input type="number" id="nrc" name="nrc">
        <br>
        {% if errors and errors.nrc %}
            <p class="form-error">{{errors.nrc}}</p>
        {% endif %}

        <label for="overall_ponderation_type">Tipo de Ponderación para la nota final:</label>
        <select name="overall_ponderation_type" id="overall_ponderation_type" >
            <option value="Porcentaje">Porcentaje</option>
            <option value="Peso">Peso</option>
        </select>
        <br>

        <label for="teacher_id">Profesor (opcional):</label>
        <select name="teacher_id" id="teacher_id">
            <option value="">Sin Profesor</option>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">
                    {{ teacher.first_name }} {{ teacher.last_name }}
                </option>
            {% endfor %}
        </select>
        <br>

        <label for="state">Estado:</label>
        <select id="state" name="state" required>
            <option value="Open" selected>Abierta</option>
            <option value="Closed">Cerrada</option>
        </select>
        <br>

        <button type="submit">Crear Sección</button>
    </form>
    
</div>
</body>

</html>
