<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Secciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
    
</head>

<body>
{% include 'navbar.html' %}
<div class="main">

    <form action="{{ url_for('course_sections.upload_course_sections_json') }}" method="POST" enctype="multipart/form-data">
        <label for="jsonFile" class="top-button">Cargar secciones de cursos desde JSON</label>
        <input type="file" id="jsonFile" name="jsonFile" accept=".json" style="display:none;" onchange="this.form.submit()">
    </form>

    <form action="{{ url_for('student_courses.upload_student_courses_json') }}" method="POST" enctype="multipart/form-data">
        <label for="uploadStudentsFile" class="top-button">Cargar alumnos con JSON</label>
        <input type="file" id="uploadStudentsFile" name="jsonFile" accept=".json" style="display:none;" onchange="this.form.submit()">
    </form>

    <form action="{{ url_for('student_evaluations.upload_student_evaluation_json') }}" method="POST" enctype="multipart/form-data">
        <label for="uploadEvaluationsFile" class="top-button">Cargar notas a alumnos con JSON</label>
        <input type="file" id="uploadEvaluationsFile" name="jsonFile" accept=".json" style="display:none;" onchange="this.form.submit()">
    </form>

    <h1>Secciones</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>NRC</th>
                <th>Curso</th>
                <th>Profesor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.nrc }}</td>
                    <td>{{ section.course_instance.course.name }} {{section.course_instance.year}}-{{section.course_instance.semester}}</td>
                    <td>
                        {% if section.teacher %}
                            {{ section.teacher.first_name }} {{ section.teacher.last_name }}
                        {% else %}
                            Sin Profesor
                        {% endif %}
                    </td>
                    <td>{% if section.state == 'Open' %}Abierta{% else %}Cerrada{% endif %}</td>
                    <td>
                        <a href="{{ url_for('course_sections.show_section_view', course_section_id=section.id) }}" class="btn-action">Ver</a>
                        <a href="{{ url_for('course_sections.update_section_view', course_section_id=section.id) }}" class="btn-action">Editar</a>
                        <a href="{{ url_for('course_sections.download_course_section_report', course_section_id=section.id) }}" class="btn-action">Generar Reporte</a>
                        <form method="POST" action="{{ url_for('course_sections.delete_section_view', course_section_id=section.id, course_instance_id=section.course_instance.id) }}" style="display:inline;">
                            <button type="submit" class="button" style="background-color: #555;">Eliminar</button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/" class="btn-back">Volver al inicio</a>

</div>
</body>

</html>