<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Secciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}
<div class="main">

    <h1>Secciones</h1>

    <table>
        <thead>
            <tr>
                <th>NRC</th>
                <th>Curso</th>
                <th>Profesor</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.nrc }}</td>
                    <td>{{ section.course_instance.course.name }} {{section.course_instance.year}}-{{section.course_instance.semester}}</td>
                    <td>
                        {% if section.teacher %}
                            {{ section.teacher.first_name }} {{ section.teacher.last_name }}
                        {% else %}
                            Sin Profesor
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('course_sections.show_section_view', course_section_id=section.id) }}" class="btn-action">Ver</a>
                        <a href="{{ url_for('course_sections.update_section_view', course_section_id=section.id) }}" class="btn-action">Editar</a>
                        <form method="POST" action="{{ url_for('course_sections.delete_section_view', course_section_id=section.id, course_instance_id=section.course_instance.id) }}" style="display:inline;">
                            <button type="submit" class="button" style="background-color: #555;">Eliminar</button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/" class="btn-back">Volver al inicio</a>

</div>
</body>

</html>