<h1>Detalles de la sección</h1>

<p>Curso: {{course_section.course}}</p>
<p>NRC: {{course_section.nrc}}</p>
<p>Semestre: {{course_section.semester}}</p>
<p>Profesor: {{course_section.teacher}}</p>


<h1>Estudiantes:</h1>
{% if course_section.students %}
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
            </tr>
        </thead>
        <tbody>
            {% for student in course_section.students %}
                <tr>
                    <td>{{student.first_name}} {{student.last_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay alumnos inscritos en esta sección.</p>
{% endif %}

<a href="{{url_for('student_courses.createStudentCourseView', course_section_id=course_section.id)}}">Agregar Estudiante</a>

<a href="{{url_for('courses.showCourseView', course_id=course_section.course_id)}}">Volver a la lista</a>