<h1>Detalles de la sección</h1>

<p>Curso: {{course_section.course}}</p>
<p>NRC: {{course_section.nrc}}</p>
<p>Semestre: {{course_section.semester}}</p>
<p>Profesor: {{course_section.teacher}}</p>


<h1>Estudiantes:</h1>
{% if course_section.student_courses %}
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
            </tr>
        </thead>
        <tbody>
            {% for sc in course_section.student_courses %}
                <tr>
                    <td>{{sc.student.first_name}} {{sc.student.last_name}}</td>
                    <td>
                        {{sc.state}}
                        <a href="{{url_for('student_courses.updateStudentCourseView', student_id=sc.student.id, course_section_id=course_section.id)}}">
                            Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay alumnos inscritos en esta sección.</p>
{% endif %}

<a href="{{url_for('student_courses.createStudentCourseView', course_section_id=course_section.id)}}">Agregar Estudiante</a>

<a href="{{url_for('courses.showCourseView', course_id=course_section.course_id)}}">Volver a la lista</a>