<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Prerrequisitos de Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">
    
    <div class="title">Lista de Prerrequisitos</div>

    <div class="box">
        <div class="top-buttons">
            <a href="{{ url_for('course_prerequisites.create_course_prerequisite_view') }}" class="add-btn">Crear nuevo prerrequisito</a>
        </div>

        {% if grouped_prerequisites %}
            <table>
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Prerrequisitos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for course_id, data in grouped_prerequisites.items() %}
                        <tr>
                            <td><strong>{{ data['name'] }}</strong></td>
                            <td class = "actions">
                                <ul>
                                    {% for prereq in data['prerequisites'] %}
                                        <li>
                                            {{ prereq['name'] }}
                                            <form action="{{ url_for('course_prerequisites.delete_course_prerequisite_view', course_id=course_id, prerequisite_id=prereq['id']) }}" method="POST" style="display:inline;">
                                                <button type="submit">Eliminar</button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="{{ url_for('course_prerequisites.update_course_prerequisite_view', course_id=course_id) }}" class="add-btn">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>No hay prerrequisitos establecidos todavía.</p>
        {% endif %}

        <a href="/" class="go-back">Volver al inicio</a>
    </div>

</div>
</body>

</html>