<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prerequisitos de Cursos</title>
</head>
<body>

    <h1>Lista de Prerrequisitos</h1>
    <p><a href="/">Volver al inicio</a></p>
    <p><a href="{{ url_for('course_prerequisites.createCoursePrerequisiteView') }}">Crear nuevo prerrequisito</a></p>

    {% if grouped_prerequisites %}
        <ul>
            {% for course_id, data in grouped_prerequisites.items() %}
                <li>
                    <strong>{{ data['name'] }}</strong> requiere aprobar:
                    <ul>
                        {% for prereq in data['prerequisites'] %}
                            <li>
                                {{ prereq['name'] }}
                                <a href="{{ url_for('course_prerequisites.updateCoursePrerequisiteView', course_id=course_id, prerequisite_id=prereq['id']) }}">Editar</a>

                                <form action="{{ url_for('course_prerequisites.deleteCoursePrerequisiteView', course_id=course_id, prerequisite_id=prereq['id']) }}" method="POST" style="display:inline;">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay prerequisitos establecidos todavía.</p>
    {% endif %}

</body>
</html>
