<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="main">

        <div class="title">Lista de Estudiantes</div>

        <div class="box">
            <a href="{{ url_for('students.createStudentView') }}" class="top-button">Agregar Estudiante</a>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha de Ingreso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.first_name }} {{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>
                                {% if student.entry_date %}
                                    {{ student.entry_date.isoformat() }}
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td class="actions">
                                <a href="{{ url_for('students.updateStudentView', student_id=student.id) }}" class="btn-action">Editar</a>
                                <form action="{{ url_for('students.deleteStudentView', student_id=student.id) }}" method="POST" class="action-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="action-btn">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay estudiantes</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/" class="go-back">Volver al inicio</a>
        </div>
    </div>

</body>
</html>