<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Instancia para el curso {{ course.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">
    <h1>Crear Instancia para el curso {{ course.name }}</h1>

    {% if error %}
    <div class="error-msg">{{ error }}</div>
    {% endif %}

    <form action="{{ url_for('course_instances.create_course_instance_view', course_id=course.id) }}" method="POST">
        <div>
            <label for="year">Año:</label>
            <input type="text" id="year" name="year" required>
        </div>

        <div>
            <label for="semester">Semestre:</label>
            <select id="semester" name="semester" required>
                <option value="" disabled selected>Seleccione un semestre</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>

        <button type="submit">Crear Instancia de Curso</button>
    </form>

    <a href="{{ url_for('courses.show_course_view', course_id=course.id) }}" class="btn-back">Volver</a>
</div>
</body>

</html>
