<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar Instancia de Curso {{ course_instance.course.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">
    <h1 class="title">Editar Instancia: {{ course_instance.year }} - {{ course_instance.semester }} de {{ course_instance.course.name }}</h1>

    {% if error %}
    <div class="error-msg">{{ error }}</div>
    {% endif %}

    <form action="{{ url_for('course_instances.update_course_instance_view', course_instance_id=course_instance.id) }}" method="POST">
        <div>
            <label for="year">Año:</label>
            <input type="text" id="year" name="year" value="{{ course_instance.year }}" required>
        </div>

        <div>
            <label for="semester">Semestre:</label>
            <select id="semester" name="semester" required>
                <option value="1" {% if course_instance.semester == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if course_instance.semester == 2 %}selected{% endif %}>2</option>
            </select>
        </div>

        <button type="submit" class="btn-back">Actualizar Instancia</button>
    </form>

    <a href="{{ url_for('courses.show_course_view', course_id=course_instance.course.id) }}" class="btn-back">Volver al Curso</a>
</div>
</body>

</html>
