<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="main">

        <div class="title">Instancias de cursos</div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="box">

            <form action="{{ url_for('course_instances.upload_course_instances_json') }}" method="POST"
                enctype="multipart/form-data">
                <label for="jsonFile" class="top-button">Cargar instancias de cursos desde JSON</label>
                <input type="file" id="jsonFile" name="jsonFile" accept=".json" style="display:none;"
                    onchange="this.form.submit()">
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Año</th>
                        <th>Semestre</th>
                    </tr>
                </thead>

                <tbody>
                    {% for course_instance in course_instances %}
                    <tr>
                        <td>{{ course_instance.course.name }}</td>
                        <td>{{ course_instance.year }}</td>
                        <td>{{ course_instance.semester }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No hay instancias de cursos disponibles</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/" class="go-back">Volver al inicio</a>

        </div>
</body>

</html>