<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Detalles de la Instancia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">
    <h1>Detalles de la instancia {{ course_instance.course.name }} {{ course_instance.year }}-{{ course_instance.semester }}</h1>

    <h1>Secciones:</h1>
    {% if course_instance.sections %}
        <table>
            <thead>
                <tr>
                    <th>NRC</th>
                    <th>Profesor</th>
                    <th>Tipo de ponderación de las Evaluaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for section in course_instance.sections %}
                    <tr>
                        <td>{{ section.nrc }}</td>
                        <td>
                            {% if section.teacher %}
                                {{ section.teacher.first_name }} {{ section.teacher.last_name }}
                            {% else %}
                                Sin Profesor
                            {% endif %}
                        </td>
                        <td>
                            {% if section.overall_ponderation_type %}
                                {{ section.overall_ponderation_type }}
                            {% else %}
                                No está definido el tipo de ponderación.
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('course_sections.show_section_view', course_section_id=section.id) }}" class="button">Ver</a>
                        </td>
                        <td>
                            <a href="{{ url_for('course_sections.update_section_view', course_section_id=section.id) }}" class="button">Editar</a>
                        </td>
                        <td>
                            <form action="{{ url_for('course_sections.delete_section_view_from_show', course_section_id=section.id, course_instance_id=section.course_instance.id) }}" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="button" style="background-color: #555;">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Esta instancia no tiene secciones.</p>
    {% endif %}

    <a href="{{ url_for('course_sections.createSectionView', course_instance_id=course_instance.id) }}" class="btn-back">Crear Sección</a>
    <a href="{{ url_for('course_sections.getSectionsView') }}" class="btn-back">Listado de Secciones</a>
    <a href="/" class="btn-back">Ir al inicio</a>

</div>
</body>

</html>
