<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Curso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>
<body>
{% include 'navbar.html' %}

<div class="main">
    <div class="title">Editar Curso: {{ course.name }}</div>

    <div class="form-container">
        <form action="{{ url_for('courses.update_course_view', course_id=course.id) }}" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ course.name }}" required>

            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" value="{{ course.description }}" required>

            <label for="code">Código</label>
            <input type="text" id="code" name="code" value="{{ course.code }}" required>

            <button type="submit">Actualizar Curso</button>
        </form>
        <a href="{{ url_for('courses.get_courses_view') }}" class="btn-back">Volver</a>
    </div>
    
</div>
</body>

</html>