<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Curso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>
<body>
{% include 'navbar.html' %}

<div class="main">
    <div class="title">Editar Curso: {{ course.name }}</div>

    <div class="form-container">
        <form action="{{ url_for('courses.update_course_view', course_id=course.id) }}" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ course.name }}" >
            {% if errors and errors.name%}
                <p class="form-error">{{errors.name}}</p>
            {% endif %}

            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" value="{{ course.description }}" >
            {% if errors and errors.description %}                
                <p class="form-error">{{errors.description}}</p>
            {% endif %}

            <label for="code">Código</label><span class="hint">Ingrese un número de 4 dígitos.</span>
            <input type="number" id="code" name="code" value="{{ course.code[3:] }}" >
            {% if errors and errors.code %}
                <p class="form-error">{{errors.code}}</p>
            {% endif %}

            <label for="credits">Créditos (0-4):</label>
            <input type="number" id="credits" name="credits" value="{{ course.credits }}" >
            {% if errors and errors.credits %}
                <p class="form-error">{{errors.credits}}</p>
            {% endif %}

            <label for="state">Estado:</label>
            <select id="state" name="state" required>
                <option value="Open"  {% if course.state == 'Open'  %}selected{% endif %}>Abierto</option>
                <option value="Closed" {% if course.state == 'Closed' %}selected{% endif %}>Cerrado</option>
            </select>
            <br>

            <button type="submit">Actualizar Curso</button>
        </form>
        <a href="{{ url_for('courses.get_courses_view') }}" class="btn-back">Volver</a>
    </div>
</div>
</body>

</html>