<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar Profesor {{teacher.first_name}} {{teacher.last_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}
<div class="main">

    <h1>Editar Profesor {{teacher.first_name}} {{teacher.last_name}}</h1>

    <form action="{{url_for('teachers.updateTeacherView', teacher_id=teacher.id)}}" method="POST">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" value="{{teacher.first_name}}" required>

        <label for="last_name">Apellido:</label>
        <input type="text" id="last_name" name="last_name" value="{{teacher.last_name}}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{teacher.email}}" required>

        <button type="submit">Actualizar Profesor</button>
    </form>

    <a href="{{ url_for('teachers.getTeachersView') }}" class="btn-back">Volver</a>

</div>
</body>

</html>
