<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}
<div class="main">
    
    <div class="title">
        Lista de Profesores
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="box">

        <form action="{{ url_for('teachers.upload_teachers_json') }}" method="POST" enctype="multipart/form-data">
            <label for="jsonFile" class="top-button">Cargar profesores desde JSON</label>
            <input type="file" id="jsonFile" name="jsonFile" accept=".json" style="display:none;" onchange="this.form.submit()">
        </form>

        <a href="{{ url_for('teachers.create_teacher_view') }}" class="top-button">Agregar Profesor</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                        <td>{{ teacher.email }}</td>
                        <td class="actions">
                            <a href="{{ url_for('teachers.update_teacher_view', teacher_id=teacher.id) }}" class="btn-action">Editar</a>
                            <form action="{{ url_for('teachers.delete_teacher_view', teacher_id=teacher.id) }}" method="POST" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No hay profesores</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/" class="go-back">Volver al inicio</a>
        
    </div>

</div>
</body>

</html>