<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Asignar Nota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">

    <h1>Asignar nota a estudiante</h1>
    <h2>Evaluación: {{ evaluation.name }}</h2>

    <table>
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Nota</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class = "actions">{{ student.first_name }} {{ student.last_name }}</td>
                {% if student_evaluation %}
                    <td>{{ student_evaluation.grade }}</td>
                    <td class = "actions"><span>Nota registrada</span></td>
                {% else %}
                    <form method="POST">
                        <td class = "actions">
                            <input 
                                type="number" 
                                name="grade" 
                                step="0.01" 
                                min="0" 
                                max="100" 
                                required
                            >
                        </td>
                        <td class = "actions">
                            <button type="submit">Guardar nota</button>
                        </td>
                    </form>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <br>

    <a href="{{ url_for('evaluations.showEvaluationView', evaluation_id=evaluation.id) }}" class="btn-back">← Volver a la evaluación</a>

</div>
</body>

</html>
