<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar Nota del Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div class="main">

    <h1>Editar nota del estudiante</h1>
    <h2>Evaluación: {{ evaluation.name }}</h2>

    <table>
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Nota actual</th>
                <th>Nueva nota</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <form method="POST">
                <tr>
                    <td class = "actions">{{ student.first_name }} {{ student.last_name }}</td>
                    <td class = "actions">{{ student_evaluation.grade }}</td>
                    <td class = "actions">
                        <input 
                            type="number" 
                            name="grade" 
                            step="0.01" 
                            min="0" 
                            max="100" 
                            value="{{ student_evaluation.grade }}" 
                            required
                        >
                    </td>
                    {% if errors and errors.grade %}
                        <p class="form-error">{{ errors.grade }}</p>
                    {% endif %}
                    <td class = "actions">
                        <button type="submit">Actualizar nota</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    <br>

    <a href="{{ url_for('evaluations.show_evaluation_view', evaluation_id=evaluation.id) }}" class="btn-back">← Volver a la evaluación</a>

</div>
</body>

</html>
