<div class="sidebar">
    <div class="logo-container">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="user-section">
        <img src="{{ url_for('static', filename='user_icon.png') }}" alt="User Icon" class="user-icon">
    </div>
</div>

<style>
.sidebar {
    width: 50px;
    background-color: #37424a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.logo-container {
    width: 100%;
    background-color: #e6001c; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0;
}

.logo-container img.logo {
    width: 70%;
    margin-left: 12%;
    margin-top: 20%;
    margin-bottom: 20%;
    height: 70%;
    object-fit: contain;
    align-items: center;
}

.user-section {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-section img.user-icon {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin-bottom: 10px;
}
</style>
