<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_styles.css') }}">
</head>

<body>
{% include 'navbar.html' %}
<div class="main">
    
    <div class="title">
        Lista de Salas
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="box">
        
        <form action="{{ url_for('classrooms.upload_classrooms_json') }}" method="POST" enctype="multipart/form-data">
            <label for="jsonFile" class="top-button">Cargar cursos desde JSON</label>
            <input type="file" id="jsonFile" name="jsonFile" accept=".json" style="display:none;" onchange="this.form.submit()">
        </form>

        <a href="{{ url_for('classrooms.create_classroom_view') }}" class="top-button">Agregar Sala</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                </tr>
            </thead>

            <tbody>
                {% for classroom in classrooms %}
                    <tr>
                        <td>{{ classroom.name }}</td>
                        <td>{{ classroom.capacity }}</td>
                        <td class="actions">
                            <a href="{{ url_for('classrooms.update_classroom_view', classroom_id=classroom.id) }}" class="btn-action">Editar</a>
                            <form action="{{ url_for('classrooms.delete_classroom_view', classroom_id=classroom.id) }}" method="POST" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No hay salas</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/" class="go-back">Volver al inicio</a>
        
    </div>

</div>
</body>

</html>